<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>001IPKorisnici</display-name> 
  <jsp-config>
  	 <taglib>
    	<taglib-uri>http://www.yatospace.com/describe</taglib-uri>
    	<taglib-location>/WEB-INF/tag/flipflop.tld</taglib-location>
	</taglib>
  </jsp-config>
  
  <welcome-file-list>
    <welcome-file>UserSwitchServlet</welcome-file>
  </welcome-file-list>
  
  <error-page>
   <error-code>404</error-code>
   <location>/error.jsp</location>
  </error-page>
  
  <error-page>
   <error-code>500</error-code>
   <location>/error.jsp</location>
  </error-page>
   
  <error-page>
   	<exception-type>java.lang.Throwable</exception-type>
   	<location>/error.jsp</location>
  </error-page>
  <request-character-encoding>UTF-8</request-character-encoding>
  <response-character-encoding>UTF-8</response-character-encoding>
</web-app>